@import './utilidades/reseteo';

/* tipografias importadas */

@font-face {
    font-family: 'Playfair-Dispair';
    src: url('../Recursos/typos/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'worksans-regular';
    src: url('../Recursos/typos/WorkSans-VariableFont_wght.ttf');
}

@import './secciones/header';
@import './secciones/index';
@import './secciones/peliculas';
@import './secciones/series';
@import './secciones/cortos';
@import './secciones/contacto';
@import './secciones/footer';


































