
.main-contacto { background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);}
.contacto-entradas {
    @extend .flex-column
}

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    input {
       padding: 5px;
       margin: 5px;
       text-align: center;
       &:focus { 
           background-color:$crema; 
       transform: scale(1.3);}
    }
}



.coment-robot {
    text-align: center;
    font-size: small;
    font-weight: lighter;
}

/* ESTRATEGIA MOBILE LAST */


@media (max-width: 375px) {
  

    /* pagina contacto */
    .img_willy_wonka {
        width: 300px;
        padding: 5px;
    }

    .coment-robot {
        font-size: 9px;
    }

   

   

}