/* Estilos en Pagina Cortos */
.main-cortos {background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);}
.cortos-entradas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
}