


hr {
    color: black;
    
}
/* Flex para primera sección del index*/

main {overflow-x: hidden;
overflow-y: hidden;}

.presentacion {
    display: flex;
    align-items: center;
    padding: 20px;
    img {
        width: 600px;
        padding: 15px;
    }
}


.frase_homepage {
    max-width: 600px;
}

/* Estilos en el index */

.main-index {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 90%);
    margin: 0;
}

.Descripcion-contenido {
    color: black;
    padding: 5px;
}


.negrita {
    font-weight: bold;
    text-decoration: underline;
}

.ver-trailer {
    text-decoration: none;
    color: darkslategrey;
    &:hover {
        color: darkolivegreen;
        font-weight: bold;
    }
}
/* tamaño de imagenes en index */

.imagenes_index {
  @extend .flex-column;
    img {
       width: 500px;
       padding: 20px;
    }
}


/* Estilos de Grid en el Index */

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: 100px 400px 400px 400px;
    padding: 25px;

    /* template // platilla */
    grid-template-areas:
        "primera primera"
        "segunda tercera"
        "cuarta quinta"
        "sexta quinta"


}
.img-grid-sencilla { 
    img {
        width: 600px;
        height: 400px;
    }
    overflow: hidden;
}

.img-grid-doble {
    overflow: hidden;
    align-items: center;
    img {
        width: 600px;
        height: 800px;
    }
}
 
.primera {
    background-color:$crema;
    grid-area: primera;
    font-family: $titulo;
    text-align: center;
    font-size: 40px;
}

.segunda {
    grid-area: segunda;
}


.tercera {
    grid-area: tercera;
}


.cuarta {
    grid-area: cuarta;
}


.quinta {
    grid-area: quinta;
}


.sexta {
    grid-area: sexta;
}



    /* ANIMACION */
    @keyframes caminando { 

        0% { 
            transform: translateX(0);
        }
       
        100% {transform: translateX(1260px);}
    }
    
    .titulo-caminando {
        @include animacion (12s);
        
    }

/* ESTRATEGIA MOBILE LAST Ipad*/

@media (max-width:860px) {
   
    .presentacion img {
        width: 350px;
        padding: 15px;
    }

    .grid-galeria {

        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: 50px 200px 200px 200px;
        padding: 20px;
        justify-content: center;
        img {
            width: 300px;
            height: 200px;
        }
        .quinta img {
            width: 300px;
            height: 400px;
        }
    }


}

    /* ANIMACION */
    @keyframes caminando { 

        0% { 
            transform: translateX(0);
        }
       
        100% {transform: translateX(860px);}
    }
    
    .titulo-caminando {
        @include animacion (9s);
        
    }

/* ESTRATEGIA MOBILE LAST  Cel*/


@media (max-width: 375px) {
  

    h1 {
        font-size: 20px;
        padding: 5px;
    }

    h2 {
        font-size: 15px;
        max-width: 250px;
    }

    h3 {
        font-size: 15px;
        margin: 0;
        padding: 5px;
    }

  

    .presentacion {
        display: flex;
        flex-direction: column;
        img {
            width: 300px;
        }
    }


    .frase_homepage {
        font-size: 15px;
        max-width: 200px;
    }


    .imagenes_index {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        img {
             width: 300px;
         }
         h3 {
             font-size: smaller;
             text-align: center;
         }
    }



    .Descripcion-contenido {
        font-size: 12px;
        text-align: center;
        margin: 0;
        max-width: 250px;
    }

    

    .ver-trailer {
        font-size: x-small;
        text-align: center;
    }

    .grid-galeria {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 50px 200px 200px 200px 400px 200px;
        padding: 25px;
        justify-items: center;
        grid-template-areas:
            "primera primera"
            "segunda segunda"
            "tercera tercera"
            "cuarta cuarta"
            "quinta quinta"
            "sexta sexta"

    }

    .primera {
        font-size: 20px;
    }




    @keyframes caminando { 

        0% { 
            transform: translateX(0);
        }
       
        100% {transform: translateX(375px);}
    }
    .titulo-caminando {
        @include animacion (6s);
    }
}

  