

/* titulos  y contenido generales */
h1 {
    color: black;
    font-family: 'playfair-dispair';
    text-align: center;
    font-size: 35px;
    padding: 10px;
    margin: 0;
}

h2 {
    color: black;
    font-family: 'worksans-regular';
    text-align: center;
    font-size: 25px;
}

h3 {
    color: black;
    font-family: 'worksans-regular';
    text-align: left;
}

p {
    font-family: 'worksans-regular';
    text-align: justify;
}

.volver-a {
    font-family: 'worksans-regular';
    text-decoration: none;
    color: rgb(158, 115, 208);
    padding: 20px;
    &:hover { color: darkmagenta;
        font-weight: bold;
    }
}




hr {
    color: black;
}