

/* titulos  y contenido generales */
h1 {
    color: black;
    font-family: $titulo;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    margin: 0;
}

h2 {
    color: black;
    text-align: center;
    font-size: 25px;
}

h3 {
    color: black;

    text-align: left;
}

p {
    text-align: justify;
}

.volver-a {
    text-decoration: none;
    color: $lila;
    padding: 20px;
    &:hover { color: $lila-oscuro;
        font-weight: bold;
    }
}




hr {
    color: black;
}