//extend//
.flex-column{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
    iframe {
        padding: 20px;
    }
 }

//mixin//

@mixin animacion ($duracion) 
{
    
        text-align: start;
        animation-name:caminando;
        animation-iteration-count:infinite;
        animation-duration:$duracion;
    
}

